<br>
<div class="well">
	<h3 >¿Aún no te has registrado en Codea?</h3>
	<br>
	<%= link_to 'Descubre que puedes lograr si aprendes Desarrollo Web', @link, class: 'btn btn-lg btn-success' %>
</div>
<br>



