<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="jumbotron" style="background-color: #1f8dd3;margin-top: 50px;color:white;">
        <h1><%= @title %></h1>
        <h3><%= @answer %></h3>
      </div>
      <p>
        <br>
        Muchas gracias por completar la prueba! Tenemos buenas noticias: tu prueba ha sido aprobada y te has ganado la beca oficial de Codea!
        <br><br>
        Tienes la oportunidad de utilizar la beca hasta el próximo <%= @closing_date %>: se te dará un 10% de descuento sobre tu curso.
        <br><br>
        Puedes finalizar tu inscripción pagando el siguiente link:
        <br><br>
        <%= link_to 'Paga aquí', 'http://www.codeacamp.mx/pagos/', class: 'btn btn-lg btn-success', style: 'font-size:40px;' %>
        <br><br>
        Si tienes alguna duda, escribenos a <a href="mailto:contacto@codea.mx">contacto@codea.mx</a>
        <br>
      </p>
    </div>
  </div>
</div>


