<!-- ******HEADER****** -->
<header id="header" class="header" style="background-color: #2B2B2B;">
  <div class="container">
    <div class="logo">
      <%= link_to('http://www.codea.mx') do %>
        <p class="lplh-115" style="text-align: center;">
          <span style="font-size:25px;">
            <span style="font-family:'Ubuntu', sans-serif;">
              <span style="color:#ffc842;">
                { <strong>CODEA</strong></span><span style="color:#ffffff;">CAMP</span><span style="color:#ffc842;"> }
              </span>
            </span>
          </span>
        </p>
      <% end %>
    </div><!--//logo-->
  </div><!--//container-->
</header><!--//header-->
